<div id="logs-panel">
  <div id="logs-panel-header">
    <h2>Logs</h2>
  </div>
  <div>
    @for (message of messages; track message; let i = $index) {
    <div class="logs-panel-chat">
      @if (i % 2 == 0) {
      <p class="logs-panel-message-left">
        {{message}}
      </p>
      }
      @else {
      <p class="logs-panel-message-right">
        {{message}}
      </p>
      }
    </div>
    }
  </div>
  <div id="logs-panel-clear">
    <button (click)="clear()">Clear</button>
  </div>
</div>